<div class="img-home">

<div xlass="container">
	<div class="col-md-10 col-md-offset-1">"
		<h1 class="pt-150">A la Varenne Saint-Hilaire, découvrez la vrai<br> valeur de votre <span class="element"></span> </h1>
	</div>
	<div class="col-md-10 col-md-offset-1">

		<%= link_to "ESTIMER", root_path, class: "btn btn-lg btn-primary mt-50"%>
		
	</div>
</div>