<div class="img-home">

<div xlass="container">
	<div class="col-md-10 col-md-offset-1">"
		<h1 class="pt-150">A Saint Maur et La Varenne Saint-Hilaire, découvrez la valeur de votre <br><span class="element"></span> </h1>
	</div>
	<div class="col-md-10 col-md-offset-1">

		<%= link_to "Estimer mon bien", new_estimation_path, class: "btn btn-lg btn-primary mt-50"%>
		
	</div>
</div>