h1 {
	font-size:50px;
	font-weight: bold;
	text-shadow: 0px 1px rgba(0,0,0,0.2);
}



.img-home {
	color: white;
	text-align: center;
	height: 100vh;
	
	background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.4)), image-url('esti.jpg');
	background-repeat: no-repeat;
  	background-size: cover;
  	width:100%;
  		  

}

.pt-100 {
	padding-top:100px;
}

.pt-150 {
	padding-top:150px;
}


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
